* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial;
}

img {
    max-width: 20%;
}

/* debug */

.ms_color {
    color: white;
    font-family: Arial;
}

.ms_bg-primary {
    background-color: #3A546D;
}

.ms_bg-primary2 {
    background-color: #1ABC9C;
}

.ms_bg-primary3 {
    background-color: white;
}

.ms_bg-primary4 {
    background-color: #3e668b;
}

.ms_min-height2 {
    min-height: 360px;
}

.ms_h {
    font-weight: bolder;
}

.ms_color {
    color: rgb(26, 26, 26);
}

.ms_img_100 {
    max-width: 100%;
}

.ms_rounded {
    border-radius: 20px;
}

.ms_button {
    border: 1px solid white;
}

.ms_button2 {
    background-color: #1ABC9C;
    color: white;
}